@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&family=Lavishly+Yours&display=swap');
:root{
--ou-carmesim: #880d1eff;
--vermelho-enferrujado: #dd2d4aff;
--giz-de-cerarosa-brilhante: #f26a8dff;
--rosa-amarelo: #f49cbbff;
--title:"Lavishly Yours", cursive;
--text:"Henny Penny", system-ui;
}

body{
    background: var(--ou-carmesim);
    font-family: var(--text);
}
